<%- include('partials/header') %>
  <div class="container">
    <h1>Registration Page</h1>
    <form class="row g-2 needs-validation" method="post" action="/user/register">
      <div class="row g-2">
        <div class="col-md-3">
          <label for="firstName" class="form-label">First name</label>
          <input type="text" class="form-control" name="firstName" id="firstName" required>
        </div>
        <div class="col-md-3">
          <label for="lastName" class="form-label">Last name</label>
          <input type="text" class="form-control" name="lastName" id="lastName" required>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md-6">
          <label for="address1" class="form-label">Address Line 1</label>
          <input type="text" class="form-control" name="addressOne" id="address1" required>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md-6">
          <label for="address2" class="form-label">Address Line 2 (optional)</label>
          <input type="text" class="form-control" name="addressTwo" id="address2">
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md-3">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" name="city" id="city" required>
        </div>
        <div class="col-md-3">
          <label for="state" class="form-label">State</label>
          <input type="text" class="form-control" name="state" id="state" required>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md-3">
          <label for="zip" class="form-label">Zip (5 or 9 digits)</label>
          <input type="text" class="form-control" pattern="^\d{5}(?:[-\s]\d{4})?$" name="zip" id="zip" required>
        </div>
        <div class="col-md-3">
          <label for="county" class="form-label">Country (US Only)</label>
          <input type="text" class="form-control" name="country" id="country" value="US" disabled>
        </div>
      </div>


      <div class="col-12">
        <button class="btn btn-primary" type="submit" onclick="handleSubmit()">Register</button>
      </div>
    </form>
  </div>

  <%- include('partials/footer') %>